# Dependencias locales (las de tu PC pueden no ser compatibles con Linux/Docker)
node_modules

# Archivos de construcción local (queremos que Docker genere los suyos propios)
dist
build

# Logs y archivos temporales
npm-debug.log
yarn-error.log
.DS_Store

# Archivos de Git (no los necesitamos para correr la app en producción)
.git
.gitignore

# Archivos de variables de entorno locales (¡Muy importante por seguridad!)
.env
.env.local
.env.development

# Documentación o archivos de diseño
README.md
docs/